<html>

<head>
	<meta charset="UTF-8">
	<title>Skippin Counter Server</title>
</head>

<body>
	<header>
	<h1 id="h1"><%= title %> : Server IP = <%= ip %></h1>
	</header>

	<div id="dispAreaA">[Area A] 0</div>
	<div id="dispAreaB">[Area B] 0</div>
	<div id="dispAreaC">[Area C] 0</div>
	<div id="dispAreaD">[Area D] 0</div>

	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">


		var socketio = io.connect('http://localhost:8080');

		socketio.on("publish", function (data) {
			if(data == null) return;
			if     (data.area == 0)	countAreaA.innerText = "[Area A] " + data.count;
			else if(data.area == 1)	countAreaB.innerText = "[Area B] " + data.count;
			else if(data.area == 2)	countAreaC.innerText = "[Area C] " + data.count;
			else if(data.area == 3)	countAreaD.innerText = "[Area D] " + data.count;
			else return;
		});

		var countAreaA = document.getElementById("dispAreaA");
		var countAreaB = document.getElementById("dispAreaB");
		var countAreaC = document.getElementById("dispAreaC");
		var countAreaD = document.getElementById("dispAreaD");

	</script>

</body>

</html>